<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel = "preconnect" href = "https://fonts.googleapis.com">
<link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
<link href = "https: //fonts.googleapis.com/css2? familia = Roboto: ital, wght @ 0,100; 0,300; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1,900 & display = swap "rel =" stylesheet ">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
     <section class="menuprincipal">
       <figure id="logo"> <img  src="images/logo-mercado-liebre.svg" alt=""> </figure>
        <span class="barranavegacion" href=""><input type="text" placeholder="Buscar productos, marcas" name="buscar"> <button id="lupa"><i  class="fas fa-search"></i></button></span>      
    <h4 class="compra" ><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjetas de crédito </h4>
        </section>
        <a id="burguer" href="#"><i  class= "fas fa-bars"> </i></a> 
    
        <nav class="listas">
        <ul>
            <li><a href="ofertas">Ofertas</a></li>
            <li><a href="Tiendas">Tiendas Oficiales</a></li>
            <li><a href="Vender">Vender</a></li>
            <li><a href="Ayuda">Ayuda</a></li> </ul>
        
        <ul>
            <li><a href="/register">Creá tu cuenta  <i class="far fa-id-card"></i></a></li>
        <li><a href="/ingresar">Ingresá  <i class="fa-solid fa-right-to-bracket"></i> </a>  </li>
        <li><a href="Mis compras">Mis compras  <i class="fas fa-shopping-basket"></i> </a></li>
    </ul>
        </nav>
          
</header>    
    <main>
        <figure > <img class="banner" src="/images/img-home-banner.jpg" alt=""></figure> 
        <h3 id="titulares">Basado en tu última vista</h3> 
        <section class="productos">
               
             <article class="articuloventa"> <img class="imagenproducto" src="/images/cafetera.jpg" alt="">
                        <picture class="camion"><i  class="fas fa-truck"></i></picture>
                    <ul class="descripcion">
                    <li id="precio">$6.700</li>
                    <li id="desc">40% off</li></ul>
                    <li id= "electro"> Cafetera Moulinex </li>
               </article>

               <article>
                   <picture><img class="imagenproducto" src="/images/img-macbook-pro-2019.jpg" alt=""></picture>
                    <span class="camion"><i  class="fas fa-truck"></i></span>
                    <ul class="descripcion">
                    <dt id="precio">$230.000</dt>
                    <dt id="desc">20% off</dt></ul>
                    <li id= "electro">MacBook Pro 2019</li>
                </dl>
               </article>
               <article><picture><img class="imagenproducto" src="/images/img-samsung-galaxy-s10.jpg" alt=""></picture>
                <figure class="camion"><i  class="fas fa-truck"></i></figure>
                <ul class="descripcion" >    
                <dt id="precio">$70.500</dt>
                    <dt id="desc">10% off</dt></ul>
                    <li id= "electro">Samsung Galaxy S10</li>
                </dl>
                </article>

            <article><picture><img class="imagenproducto" src="/images/img-tv-samsung-smart.jpg" alt=""></picture>
                
                    <figure class="camion"><i  class="fas fa-truck"></i></figure>
                    <ul class="descripcion">
                    <dt id="precio">$23.200</dt>
                    <dt id="desc">5% off</dt></ul>
                    <li id= "electro">Smart TV Samsung 43"</li>
                </dl>
                </article> </section>

                <h3 id="titulares">Ofertas</h3>
                <section class="productos">
                

            <article><picture><img class="imagenproducto" src="/images/cafetera.jpg" alt=""></picture>
                
                    <span class="camion"><i  class="fas fa-truck"></i></span>
                    <ul class="descripcion">
                    <dt id="precio">$6700</dt>
                    <dt id="desc">40% off</dt></ul>
                    <li id= "electro">Cafetera Moulinex </li>
                </dl>
                    </article>
                <article><picture><img class="imagenproducto" src="/images/img-macbook-pro-2019.jpg" alt=""></picture>
                    
                        <span class="camion"><i  class="fas fa-truck"></i></span>
                        <ul class="descripcion">
                        <dt id="precio">$230.000</dt>
                        <dt id="desc">20% off</dt></ul> 
                        <li id= "electro"> MacBook Pro2019 </li>
                    </dl>
                    </article>
    
                <article><picture><img class="imagenproducto" src="/images/img-samsung-galaxy-s10.jpg" alt=""></picture>
                    
                        <span class="camion"><i  class="fas fa-truck"></i></span>
                        <ul class="descripcion">
                        <dt id="precio">$70.500</dt>
                        <dt id="desc">10% off</dt></ul>
                        <li id= "electro"> Samsung Galaxy S10 </li>
                    </dl>
                    </article>
    
                <article><picture><img class="imagenproducto" src="/images/img-tv-samsung-smart.jpg" alt=""></picture>
                    
                        <span class="camion"><i  class="fas fa-truck"></i></span>
                        <ul class="descripcion">
                        <dt id="precio">$23.200</dt>
                        <dt id="desc">5% off</dt></ul>
                        <li id= "electro"> Smart TV Samsung 43"  </li>
                    </dl>
                    </article>

            </section>
        </main>
    
     <footer>
        <section class="tarjeta"><i id="ifooter" class="fas fa-credit-card"></i>
         <h4>Pagá con tarjeta o en efectivo</h4>
         <p>Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="tarjeta"><i  id="ifooter"  class="fas fa-gift"></i>
         <h4>Envió gratis desde los $2500</h4>
         <p> Solo por estar registrado en MercadoLiebre tenés envios gratis en miles de productos. Es un beneficio de mercado puntos.
         </p></section>
        <section class="tarjeta"><i  id="ifooter"  class="fas fa-user-shield"></i>
         <h4>Seguridad de principio a fin</h4>
         <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas haer por que estas siempre protegid@</p></section>

     <section><p id="ultimafrase"> Copyright @ 1999-2020 MercadoLiebre S.R.L.</p></section>
        </footer>   
  
</body>
</html>
